# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
RAGvenv/

# Jupyter Notebook
*.ipynb_checkpoints
*.ipynb 

# Documents folder 
documents/
uploaded_files/

# application logs folder 
logs/
